# Ignore libraries for now
lib/*
src/adakite/*

# Misc files
*.ini
*.cfg
*.txt
*.exe
*.dll
*.json
tmp/*
bwheadless*
*.jar
*.log

# WIP themes
src/droplauncher/mvc/view/theme/*

# Test packages
test/*

# NetBeans
build/*
dist/*
build.xml
manifest.mf
nbproject/*
