# WIP theme
src/droplauncher/mvc/view/theme/

# Libraries
lib/

# Misc
bwheadless.exe
commit.txt
diff.txt
tmp/
*.ini
*.bak
*.log
gitlog.txt
fatjar/
vcredist_x86.exe

# Extractable files
src/droplauncher/bwapi/files/
src/droplauncher/bwapi/dll/
src/droplauncher/bwta/cache/

# Checkstyle
checkstyle/checkstyle-7.5.1-all.jar

# NetBeans
nbproject/
build.xml
build/
manifest.mf
dist/

# Tests
test/

# Standalone Java install
jre/
