# Git commit files
commit.txt
diff.txt

# Ignore AdakiteLibrary for now
lib/adakite*

bwheadless.exe

# Ignore misc files.
*.ini
*.cfg
*.txt

# NetBeans
build/*
dist/*
build.xml
manifest.mf
nbproject/*
